@import "tailwindcss";

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  background: #0b1120;
  color: white;
  font-family: Inter, sans-serif;
}
/* Hide scrollbar but keep scrolling */

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
